body {
	background-color: #141b2b;
	font-family: Tahoma;
	color: white;
	margin: 0;
}

div {
	background-color: #111623;
	overflow: hidden;
}

h1 {
	float: left;
	margin-left: 75px;
}

h2 {
	margin-top: 50px;
}

h2, p {
	margin-left: 100px;
}

p {
	color: gray;
}

a:nth-child(2), a:nth-child(3) {
	float: left;
	padding: 30px;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
	color: white;
}

table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	color: black;
	border-collapse: collapse;
	font-size: 20px;
}

table, td {
	border: 5px solid black;
}

td {
	padding: 25px;
}

td:last-child {
	background-color: #7e8baa;
}

td:first-child {
	text-align: center;
}
