body {
	background-color: #1d1d1d;
	font-family: Verdana;
	color: white;
	margin: 0;
}

div {
	overflow: hidden;
}

h1 {
	float: left;
	margin-left: 75px;
}

h2 {
	margin-top: 50px;
}

h2, p {
	margin-left: 100px;
}

p {
	color: gray;
}

a:nth-child(2), a:nth-child(3) {
	float: left;
	padding: 30px;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
	color: white;
}

table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	color: black;
	border-collapse: collapse;
	font-size: 20px;
	width: 500px;
}

td {
	border: 5px solid black;
	padding: 25px;
}

td:last-child {
	background-color: #7e8baa;
}

td:first-child {
	text-align: center;
	width: 25px;
}

button {
	background-color: #7e8baa;
	border: none;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}
